main nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 150px;
  transition: 0.5s;
}

main nav ul {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

main nav ul li h2 {
  padding: 10px 10px 10px 20px;
}

main nav ul li h2:hover {
  color: rgb(209, 194, 181);
  background-color: olivedrab;
  box-shadow: 15px;
}

main nav ul li h2:click {
}

body {
  min-height: 100vh;
  min-width: 90vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1% 1% 1% 10%;
  overflow-y: scroll;
}

header nav {
  position: absolute;
  left: 0;
  right: 0;
  height: 74px;
}

header h1 {
  padding: 0.5%;
  font-size: large;
}

header p {
  padding: 0 0.5%;
  margin-bottom: 1%;
}

sidebar {
  display: block;
  position: absolute;
  left: 0;
  top: 74px;
  width: 100px;
  height: 100vh;
}

sidebar ul {
}

sidebar ul li {
  align-items: left;
  padding: 0.5%;
}

sidebar ul:hover {
  background-color: antiquewhite;
  .links {
    color: cornflowerblue;
  }
}

header section {
  display: flex;
  flex: 1;
  float: inline-end;
}

header section p {
  display: flex;
  flex: 2;
  text-align: bottom;
}

main {
  padding: 1.3%;
  flex-direction: column;
}

main div {
  display: flex;
  padding: 10px;
  scroll-snap-type: y mandatory;
}

main div section {
  scroll-snap-align: start;
  min-width: 85vw;
}

main div section header {
  padding: 2%;
}

main div section p {
  flex-wrap: wrap;
}

main div section img {
}

footer {
}

.sidenav {
}

.body {
  background-color: rgb(209, 194, 181);
}

.header-start {
  background-color: cornflowerblue;
}

.My-Name {
  color: palegoldenrod;
}

.nav {
}

.nav-ul {
}

.nav-ul-li {
}

.links {
  color: antiquewhite;
}

.background-image {
  background-image: url(https://www.aramcoworld.com/getattachment/e2f3558a-76ff-4688-ac85-be7304c05748/Asian-Nations-Unite-to-Protect-Snow-Leopards.jpg?width=1200);
  height: 400px;
  width: 1200px;
}

.subtitle {
  color: dimgray;
}

.body-main {
  background-color: darkgray;
}

.header-main {
  color: black;
}

.main-div-section {
  color: goldenrod;
  background-color: darkolivegreen;
}

.About-Me {
  scroll-snap-align: start;
}

.Work {
}

.main-div-section-header {
}

.main-div-section-p {
  border: darkgoldenrod solid 2px;
  padding: 5px;
}

.main-div-section-img-1 {
  height: 500px;
  width: 500px;
}

.main-div-section-img {
  height: 300px;
  width: 300px;
}

.Contact-Me {
  scroll-snap-align: end;
}

.footer {
}

@media screen and (max-width: 992px) {
  main nav {
    padding-top: 75px;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  main nav ul li h2 {
    padding: 5px 5px 5px 10px;
    box-shadow: 5px;
  }
  body {
    min-height: 100vh;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0.5% 0.5% 0.5% 5%;
    overflow-y: scroll;
  }
  main {
    padding: 0.7%;
    flex-direction: column;
  }
  main div {
    padding: 5px;
  }
  main div section header {
    padding: 1%;
  }
  .background-image {
    height: 100px;
    width: 300px;
  }
  .main-div-section-img-1 {
    height: 150px;
    width: 150px;
  }
  .main-div-section-img {
    height: 75px;
    width: 75px;
  }
}
@media screen and (max-width: 768px) {
  main nav {
    padding-top: 10px;
  }
  .sidenav {
    padding-top: 5px;
  }
  .sidenav a {
    font-size: 10px;
  }
  main nav ul li h2 {
    padding: 2px 2px 2px 5px;
    box-shadow: 2px;
  }
  body {
    min-height: 100vh;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0.25% 0.25% 0.25% 2%;
    overflow-y: scroll;
  }
  main {
    padding: 0.3%;
    flex-direction: column;
  }
  main div {
    padding: 2px;
  }
  main div section header {
    padding: 1%;
  }
  .background-image {
    height: 50px;
    width: 150px;
  }
  .main-div-section-img-1 {
    height: 100;
    width: 100px;
  }
  .main-div-section-img {
    height: 50px;
    width: 50px;
  }
}
