body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1%;
}

header {
}

h1 {
  padding: 0.5%;
  font-size: large;
}

nav {
}

nav ul {
}

nav ul li {
  float: inline-start;
  padding: 0.5%;
}

header section {
  display: flex;
  flex: 1;
  float: inline-end;
}

header section h2 {
  display: flex;
  flex: 2;
  text-align: bottom;
}

main {
  padding: 1.3%;
}

main div {
  flex-direction: column;
  padding: 10px;
}

main div section {
}

main div section header {
  padding: 2%;
}

main div section p {
}

main div section img {
}

footer {
}

.body {
  background-color: rgb(209, 194, 181);
}

.header-start {
  background-color: cornflowerblue;
}

.h1 {
  color: palegoldenrod;
}

.nav {
}

.nav-ul {
}

.nav-ul-li {
}

.links {
  color: antiquewhite;
}

.background-image {
  background-image: url(https://www.aramcoworld.com/getattachment/e2f3558a-76ff-4688-ac85-be7304c05748/Asian-Nations-Unite-to-Protect-Snow-Leopards.jpg?width=1200);
  height: 400px;
  width: 1200px;
}

.subtitle {
  color: dimgray;
}

.main {
  background-color: darkgray;
}

.main-div {
}

.main-div-section {
  color: goldenrod;
  background-color: darkolivegreen;
}

.main-div-section-header {
}

.main-div-section-p {
  border: darkgoldenrod solid 2px;
  padding: 5px;
}

.main-div-section-img {
  height: 50px;
  width: 50px;
}

.footer {
}
